extends ../layout
block content
    p
        strong id
        =user.attributes.id
        br
        strong name
        =user.attributes.name
        br
        strong email
        =user.attributes.email
        br
        strong password
        =user.attributes.password
        br
