extends ../layout
block content
    h1 Signup
    if(message.length > 0)
        = message

    form(action="/signup" method="post")
        label Email
        input(type="text" class="form-control" name="email")
        br
        label Password
        input(type="password" class="form-control" name="password")
        br

        button(type="submit" class="btn btn-warning btn-lg") Signup

    hr

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>